.book-details__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 8px;
}

.book-details__author {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.book-details__subheading {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 1rem;
}

.book-details__reservation {
  font-size: 12px;
  text-align: center;
  color: var(--color-text--accent);
  margin-bottom: 32px;
}

.book-details__middlecolor {
  color: #dad2c7;
}

.book-details__button {
  width: 100%;
  margin-bottom: 8px;
}

.book-details__info {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.book-details__cover {
  display: block;
  flex: 1;
  object-fit: contain;
}

.book-details__description-wrapper {
  flex: 1 1 500px;
}

.book-details__description {
  background-color: var(--color-background--accent);
  border-radius: 8px;
  padding: 16px;
  text-align: justify;
}
