 .container {
    padding: 16px 16px 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #000000 25%, rgba(0, 0, 0, 10%) 100%), url('/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

  .button {
    background-color: #E3893E;
    transition: background-color 0.2s ease-in-out;
    border-radius: 8px;
    padding: 12px;
    min-width: 150px;
    border: none;
    margin: 32px auto 0;
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #d2782d;
  
  }