.input {
  position: relative;
}

.input__field {
  width: 100%;
  background-color: #242424;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  border: none;
}

.input__error {
  color: #9e2626;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -16px;
  left: 4px;
}
