.input {
  position: relative;
}

.input__field {
  width: 100%;
  background-color: var(--color-background--accent);
  color: var(--color-text);
  border-radius: 8px;
  padding: 16px;
  border: none;
}

.input__label {
  color: var(--color-text);
  margin: 0 0 4px 4px;
  display: block;
}

.input__error {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -16px;
  left: 4px;
  white-space: nowrap;
}
