.button {
  background-color: var(--color-primary);
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px;
  padding: 12px 6px;
  border: none;
  white-space: nowrap;
  font-weight: 600;
  color: var(--color-background);
}

.button--outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button--small {
  padding: 6px;
}

.button--big {
  min-width: 150px;
  font-size: 1.25rem;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-primary--lighten);
}

.button--outline:hover {
  background-color: var(--color-background--accent);
}

.button--dangerous:hover {
  background-color: #260808;
}

.button--dangerous {
  background-color: transparent;
  color: var(--color-error);
  border: 2px solid var(--color-error);
}

.button:disabled {
  pointer-events: none;
  background-color: var(--color-primary--darken);
}
