* {
  padding: 0;
  margin: 0;
}

html,
textarea,
input,
button {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-background);
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
