.booksearch__title {
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: 600;
  margin: 8px 0 4px;
  display: block;
}

.booksearch__author {
  font-size: 0.8rem;
  color: #dad2c7;
  display: block;
  font-weight: 300;
}

.booksearch__input {
  margin-bottom: 24px;
}

.booksearch__container {
  padding: 16px 16px;
  max-width: 900px;

  min-height: 100vh;
  background: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.booksearch__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 8px;
  list-style: none;
}

.booksearch__item {
  width: 100%;
  background-color: var(--color-background--accent);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  gap: 16px;
  border-style: groove;
  border-color: #8d6a28;
  position: relative;
}

.booksearch__link {
  text-decoration: none;
  padding: 8px;
  display: block;
}

.booksearch__link::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.booksearch__thumbnail {
  width: 100%;
  height: auto;
}

.booksearch__button {
  width: 100%;
  position: relative;
  z-index: 1;
}

.booksearch__button-wrapper {
  padding: 8px;
}
