.modal {
  z-index: 1000;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
}

.modal__content {
  background-color: var(--color-background);
  border-radius: 8px;
  padding: 24px;
  overflow: auto;
  max-height: calc(100vh - 36px);
  position: relative;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;

  color: var(--color-text);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px;
  line-height: 1;
  border: none;
}
