.header {
  display: grid;

  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.header__menu {
  width: 1fr;
  justify-self: start;
  margin-left: 10px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  width: 1fr;
}

.header__logo {
  background-color: aqua;
  height: 5rem;
  display: block;
  justify-content: center;
}

.header__heading {
  text-transform: uppercase;
  color: var(--color-primary);
}
