.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header__menu {
  position: relative;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.header__logo {
  height: 5rem;
}
.header__icon {
  height: 2rem;
}

.header__heading {
  text-transform: uppercase;
  color: var(--color-primary);
}

.header__sign-in {
  color: var(--color-dark);
  text-decoration: none;
  padding: 8px 24px !important;
}
