h1  {
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
    }

h2  {
    font-size: 12px;
    color: #dad2c7;
    display: block;
    font-weight: 50;
    }

span {    
    font-size: 12px;
    text-align: center;
    padding-top: 10px;  
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    color: #5e5e5e;
    font-weight: 6;
    }
 

 
.button {
    background-color: #E3893E;
    transition: background-color 0.2s ease-in-out;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    border: none;
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
    }
  
.button:hover {
    cursor: pointer;
    background-color: #d2782d;
    }

.frame {
    border-style: groove;
    border-color: #5e5e5e;
    margin: auto;
    display: block;
    width: 50%;
    padding: 1%;
    }


.container {
    padding: 16px 16px 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #000000 25%, rgba(0, 0, 0, 10%) 100%), url('/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    }

.form-wrapper {
    flex: 60%;
    display: flex-wrap;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    background-color: #000000;
    }


.divdescription {
    width: 50%;  
    background-color: #242424;
    color: #fff;
    border-radius: 8px;
    padding: 16px;
    border: none;
    text-align: justify;
    }



    .input {
        width: 100%;
        background-color: #242424;
        color: #fff;
        border-radius: 8px;
        padding: 16px;
        border: none;
        margin-bottom: 16px;
      }
      