.manage-books__filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
  padding: 0 16px;
}

.manage-books__search {
  max-width: 450px;
  flex: 1;
}

.manage-books__add {
  width: 150px;
  margin: 0 0 32px 16px;
}

.manage-books__list {
  list-style: none;
}

.manage-books__option {
  text-transform: capitalize;
}

.manage-books-item {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.manage-books-item:nth-child(even) {
  background-color: #1b1b1b;
}

.manage-books-item__link {
  color: white;
  text-decoration: none;
  flex: 1;
}

.manage-books-item__details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.manage-books-item__thumbnail {
  max-width: 66px;
  height: auto;
}

.manage-books-item__author {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 4px;
}

.manage-books-item__title {
  font-size: 0.75rem;
  font-weight: 700;
}

.reservation-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reservation-actions__button {
  font-size: 0.7rem;
  margin-bottom: 8px;
}

.reservation-actions__label {
  color: var(--color-text);
  text-align: center;
  font-weight: 700;
  display: block;
  margin-bottom: 16px;
}

.reservation-actions__reservation {
  color: var(--color-text);
  font-size: 12px;
}

.reservation-actions__input {
  display: block;
  margin-bottom: 24px;
}

.reservation-actions__form {
  margin-top: 32px;
}

.reservation-actions__borrow {
  width: 100%;
}
