.history__container {
  padding: 16px 16px 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 25%, rgba(0, 0, 0, 10%) 100%), url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.history__user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 32px;
}

.history__h2 {
  font-size: 22px;
  color: #ffffff;
  display: block;
  font-weight: 50;
  margin: 0 0 10px 0px;
}

.history__h3 {
  font-size: 12px;
  color: #ffffff;
  display: block;
  font-weight: 50;
  padding: 5px;
}

.history__h3:nth-child(odd) {
  color: #787474;
}

.history__color {
  background-color: #a11313;
  color: #fff;
}

.history__item {
  width: 100%;

  color: #fff;

  max-height: 200px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.history__item:nth-child(odd) {
  background-color: #242424;
}

.history__list {
  display: flex;
  flex-direction: column;
}

.history__value {
  margin: 10px;
  display: block;
  max-height: 100px;
  padding: 1%;
}

.history__p {
  color: #ffffff;
  font-size: 12px;
}
.history__line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history__no-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: var(--color-text);
  gap: 16px;
}

.history__no-books-link {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary);
}

.history__no-books-link:hover {
  text-decoration: underline;
}
