.history__headings {
  margin-left: 16px;
}

.history__user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 32px;
  text-align: center;
}

.history__h2 {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  display: block;
  font-weight: 300;
  margin: 0 0 10px 0px;
}

.history-item__label {
  font-size: 12px;
  color: var(--color-text--accent);
  display: block;
  font-weight: 300;
}

.history__color {
  background-color: #a11313;
  color: #fff;
}

.history-item {
  width: 100%;
  padding: 16px;
}

.history-item__wrapper {
  margin: auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.history-item:nth-child(odd) {
  background-color: #242424;
}

.history__list {
  display: flex;
  flex-direction: column;
}

.history__thumbnail {
  max-height: 115px;
}

.history-item__values {
  width: 100%;
}

.history-item__value {
  color: #ffffff;
  font-size: 12px;
  text-align: right;
}
.history-item__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.history-item__line:last-child {
  margin-bottom: 0;
}

.history__no-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: var(--color-text);
  gap: 16px;
}

.history__no-books-link {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary);
}

.history__no-books-link:hover {
  text-decoration: underline;
}
