.edit-book-history__container {
  margin: 32px 0;
}

.edit-book-history__h2 {
  font-size: 20px;
  color: var(--color-text);
  margin-bottom: 16px;
}

.edit-book-history__list {
  list-style: none;
  font-size: 14px;
  color: var(--color-text);
  justify-self: flex-start;
}

.edit-book-action__container {
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
}

.edit-book-action__borrow {
  width: 100%;
}
.edit-book-action__delete {
  margin-top: 16px;
  width: 100%;
}

.edit-book-history__date {
  color: var(--color-text--accent);
  margin-right: 12px;
}

.edit-book-history__item {
  margin-bottom: 8px;
}
