.user-search__label {
  margin-left: 4px;
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 400;
}

.user-search__container {
  display: flex;
  flex-direction: column;
}

.user-search__search {
  margin: 4px 0;
  width: 100%;
  max-width: 600px;
}

.user-search__input {
  height: 16px;
  width: 100%;
  max-width: 600px;
  background-color: #242424;
  color: var(--color-text);
  border-radius: 8px;
  padding: 20px;
  border: none;
}

.user-search__add-user-button {
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  min-width: 50px;
  max-width: 150px;
  margin: 20px 0 24px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  margin-left: auto;
}

.manage-users_list {
  padding: 16px 8px;
  background-color: #242424;
  border-radius: 8px;
  list-style: none;
}

.user-item {
  padding: 4px 0;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-text);
}

.user-item:last-child {
  border-bottom: none;
}

.user-item_delete {
  background-color: #242424;
  margin-left: auto;
  border: none;
  border-radius: 8px;
}
